<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myarxiv.myarxiv.mapper.relation.CatePriSecMapper">

    <resultMap id="BaseResultMap" type="com.myarxiv.myarxiv.domain.relation.CatePriSec">
            <id property="catePriSecId" column="cate_pri_sec_id" jdbcType="INTEGER"/>
            <result property="categoryPrimaryId" column="category_primary_id" jdbcType="INTEGER"/>
            <result property="categorySecondaryId" column="category_secondary_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        cate_pri_sec_id,category_primary_id,category_secondary_id
    </sql>
</mapper>
