<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myarxiv.myarxiv.mapper.relation.PaperCategoryMapper">

    <resultMap id="BaseResultMap" type="com.myarxiv.myarxiv.domain.relation.PaperCategory">
            <id property="paperCategoryId" column="paper_category_id" jdbcType="INTEGER"/>
            <result property="paperId" column="paper_id" jdbcType="INTEGER"/>
            <result property="submissionPaperId" column="submission_paper_id" jdbcType="INTEGER"/>
            <result property="categoryPrimaryId" column="category_primary_id" jdbcType="INTEGER"/>
            <result property="categorySecondaryId" column="category_secondary_id" jdbcType="INTEGER"/>
            <result property="paperCategoryStatus" column="paper_category_status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        paper_category_id,paper_id,submission_paper_id,
        category_primary_id,category_secondary_id,paper_category_status
    </sql>
</mapper>
