<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myarxiv.myarxiv.mapper.relation.UserPaperMapper">

    <resultMap id="BaseResultMap" type="com.myarxiv.myarxiv.domain.relation.UserPaper">
            <id property="userPaperId" column="user_paper_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="paperId" column="paper_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_paper_id,user_id,paper_id
    </sql>
</mapper>
