<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myarxiv.myarxiv.mapper.EndorsementMapper">

    <resultMap id="BaseResultMap" type="com.myarxiv.myarxiv.domain.Endorsement">
            <id property="endorsementId" column="endorsement_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="submissionId" column="submission_id" jdbcType="INTEGER"/>
            <result property="paperId" column="paper_id" jdbcType="INTEGER"/>
            <result property="endorsementStatus" column="endorsement_status" jdbcType="INTEGER"/>
            <result property="endorsementCode" column="endorsement_code" jdbcType="VARCHAR"/>
            <result property="endorsorId" column="endorsor_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        endorsement_id,user_id,submission_id,
        paper_id,endorsement_status,endorsement_code,
        endorsor_id
    </sql>
</mapper>
