<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myarxiv.myarxiv.mapper.SearchMapper">

<!--    <resultMap id="BaseResultMap" type="com.myarxiv.myarxiv.pojo.PaperInfo" >-->
<!--        <id column="paper_id" property="paperId" jdbcType="INTEGER"></id>-->
<!--    </resultMap>-->


</mapper>
